.projects {
    padding: 40px 40px;
    background-color: #ffffff;
    font-family: "Maitree", serif !important;
    margin-bottom: 40px;
  }
  
  .projects-title {
    text-align: center;
    font-size: 60px ;
    color: #0077a6;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: "Maitree", serif !important;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }
  
  .project-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 24px;
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-4px);
  }
  
  .project-card img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .project-card h3 {
    font-size: 2rem;
    margin-bottom: 12px;
    color: #0077a6;
    font-family: "Maitree", serif;
    font-weight: 700;
  }
  
  .project-card p {
    font-size: 1rem;
    color: #14213D;
    line-height: 1.6;

  }
  